.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wyncode-logo {
  width: 500px;
}
.wyncode-header {
  color: #d6d6d6;
}

.blue-back {
  background-color: #1d345e;
  position: relative;
}

.student-container {
  /* background-color: #1d345e; */
  padding: 10rem;
  text-align: center;
  z-index: 2;
}

.student-button {
  font-family: "Rajdhani";

  outline: none;
  font-size: 1.5rem;
  background-color: #3db5ea;
  color: white;
  border: none;
}

.student-button:hover {
  cursor: pointer;
  background-color: #1c335f;
  color: #3db5ea;
}
.student-button:disabled {
  background-color: #5f1c22;
}

.student {
  padding: 2rem;
  font-size: 2rem;
  color: white;
}

.student-list {
  overflow: scroll;
  width: 200px;
  height: 100vh;
  background-color: white;
}

.student-list-header {
  text-align: center;
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 500px solid transparent;
  border-bottom: 500px solid #a7d6f2;
  background-clip: border-box;
  width: 0;
  height: 0;
  z-index: 1;
}
