@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Rajdhani";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
